/* font-family: 'Sriracha', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Montserrat Subrayada', sans-serif; */
/* photo - Brandon Vazquez */

body {
  background-image: url('pattern.jpg');
  font-family: 'Hind', sans-serif;
}

header {
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  line-height: 8px;
}

h1 {
  color: #82ABA1

}

h2 {
  color: #82ABA1;
}

a {
  text-decoration: none;
  color: #82ABA1;
}

a:hover {
  background: #82ABA1;
  color: #061C22;
}
/* ant borderio uzvedus nesimato raidziu */

/* ----------------BUTTONS--------------------------- */
.btn-all{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.btn {
  border: 3px solid #82ABA1;
  padding: 3px 28px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  border-radius: 12px;
}

.btn:hover {
  background: #82ABA1;
  color: #061C22;
}

/* ----------------ABOUT-ME--------------------------- */
/* .btn-about-me {
  background: #82ABA1;
  color: #061C22;
  border: 3px solid #82ABA1;
  padding: 3px 28px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 12px;
} */

.about-me {
  color: #82ABA1;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* ----------------EDUCATION--------------------------- */
.education h3{
  line-height: 5px;
}

.education h4{
  line-height: 5px;
}

.education {
  color: #82ABA1;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ----------------WORK EXPERIENCE--------------------------- */
.work-experience h3{
  line-height: 5px;
}

.work-experience h5{
  line-height: 5px;
}
.work-experience {
  color: #82ABA1;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ----------------PROJECTS--------------------------- */

.projects {
  color: #82ABA1;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* img {
  border: 1px;
  border-color: #82ABA1;
  padding: 5px;
  width: 150px;
  float:right;
}

figcaption {
  display: block;
} */
/* .photo {
  text-align: center;
  padding: 10px 20px;
} */

.dc {
  /* border: 3px solid #82ABA1;
  padding: 3px 28px;
  margin-top: 200px;
  text-align: center;
  font-size: 17px;
  border-radius: 12px; */
}
